/* Version mobile */

/* body syze */

@media screen and (max-width: 600px) {

    body {
        width: 100%;
        margin: 0;
    }

    header, section {
        margin: 0;
    }

    /* header */
    
    header {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: auto;
        justify-content: space-evenly;
    }
    /* Logo header */

    .logo_container {
        position: initial;
    }
    
    #logo {
        width: 97px;
        margin-top: 20px;
    }

    /* Menu Nav */

    .menu {
        display: flex;
        flex-wrap:wrap;
        order: 3;
    }
    
    .menu div {
        height: auto;
        width: 187px; /* Fit content à mettre */
    }

    .hebergements {
        border-top: initial;
        border-bottom: #0065FC 2px solid;
        line-height: initial;
        padding-bottom: 15px;
    }

    .activites {
        border-bottom: #F2F2F2 2px solid;
        line-height: initial;
        padding-bottom: 15px;
    }

    /* inscription */

    .inscription {
        text-align: right;
        line-height: 100px;
    }
    
    /* Recherche logement */

    .part_1 {
            display: flex;
            flex-wrap: wrap;
            width: 375px;
            justify-content: center;
    }

    /* filtres */

    .container_filtres {
        display: flex;
        flex-wrap: wrap;
    }

    .title_filtres {
        width: 100px;
    }

    /* span filtres mettre margin bot pour aligner le texte */
    
    /* Heb à Marseille */

    .part_2 {
        display: flex;
        flex-direction: column-reverse;
    }

    article {
        
    }

    .container_heb {
        display: flex;
        flex-direction: column;
    }

    /* footer */

    footer {
        display: flex;
        flex-direction: column;
    }
}

