/* Version mobile */

/* body syze */

@media screen and (max-width: 600px) {

    body {
        width: 100%;
        margin: 0;
    }

    header, section {
        margin: 0;
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }
    /* header */
    
    header {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: auto;
    }
    /* Logo header */

    .logo_container {
        position: initial;
    }
    
    #logo {
        width: 96px;
        margin-top: 20px;
        padding-left: 25px;
    }

    /* Menu Nav */

    .menu {
        display: flex;
        flex-wrap:wrap;
        order: 3;
        width: 100%;
    }

    .menu a {
        font-size: 16px;
    }
    
    .menu div {
        height: auto;
        width: 50%;
    }

    .hebergements {
        border-top: initial;
        border-bottom: #0065FC 2px solid;
        line-height: initial;
        padding-bottom: 15px;
    }

    .activites {
        border-bottom: #F2F2F2 2px solid;
        line-height: initial;
        padding-bottom: 15px;
    }

    /* inscription */

    .inscription {
        width: auto;
        text-align: right;
        line-height: 95px;
        margin-left: auto;
        padding-right: 25px;
    }

    .inscription a {
        font-size: 16px;
    }
    
    /* Recherche logement */

    .part_1 {
            display: flex;
            flex-wrap: wrap;
            width: auto;
            margin: 0px 25px 0px 25px;
    }

    /* filtres */

    .container_filtres {
        display: flex;
        flex-wrap: wrap;
    }

    .title_filtres {
        width: 100px;
    }

    /* span filtres mettre margin bot pour aligner le texte */
    
    /* Heb à Marseille */

    .part_2 {
        display: flex;
        flex-direction: column-reverse;
    }

    article {
        
    }

    .container_heb {
        display: flex;
        flex-direction: column;
    }

    /* footer */

    footer {
        display: flex;
        flex-direction: column;
    }
}

