/* Définition de la police */

@font-face {
    font-family: 'ralewaythin_italic';
    src: url('raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, a {
    font-family: 'raleway', sans-serif
}

h1 {
    font-size: 27.5px;
}

p {
    font-family: 'ralewaythin_italic';
}

/* Marge header, sections hébergements et activites */

header, section {
    margin: 0px 30px 0px 30px
}

/* header */

header {
    display: flex;
    justify-content: space-between;
}

/* logo */

.logo_container {
height: 66px;
}

#logo {
    width: 110px;
    margin-top: 45px;
}

/* Menu navigation */

.menu {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.menu div {
    height: 100px;
    width: 200px;
    
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #0065FC;
    ;
}

.hebergements {
    border-top: #0065FC solid 2px;
    margin-top: -7px;
    text-align: center;
    line-height: 149px;
}

.activites {
    text-align: center;
    line-height: 140px;
}

.activites a {
    color:black;
}

.inscription {
    text-align: center;
    font-weight: bold;
    line-height: 140px
}

/* texte section logement */

#hebergements {
    margin-top: 60px;
    margin-block-end: 0px;
}

/* Barre de recherche */

.elements_recherche {
    display: flex;
}

.localisation {
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px ;
    text-align: center;
    line-height: 50px;
}

/* Espace saisie texte recherche */

.recherche {
    height: 50px;
    width: 300px;
}

#site-search {
    height: 50px;
    width: 300px;
    border: #F2F2F2 solid;
    font-size: 20px;
}

input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding-left: 10px;
}

#site-search::placeholder {
    color: black;
    font-weight: bold;
}

/* Button */

input[type="button" i] {
    width: 160px;
    height: 50px;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 16px 16px 0px;
    font-size: 20px;
    font-weight: bold;
    color:#F2F2F2;
}

/* loupe version mobile/tablette à faire */
.loupe {
    visibility: hidden;
}

/* Filtres */

.container_filtres {
    display: flex;
    width: 1365px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.title_filtres {
    width: 75px;
}

.filtres {
    height: 65px;
    vertical-align: middle;
    line-height: 55px;
    border-radius: 50px 50px 50px 50px;
    border: 3px #F2F2F2 solid; 
}

/* Icone et texte filtre */
.filtres i {
    background-color:  #DEEBFF;
    border-radius: 50%;
    border: none;
    color:#0065FC;
    padding: 20px;
    font-size: 30px;
    margin: -2.5px;
}

.filtres a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-left: 15px;
    font-size: 26.5px;
}

/* Partie info, mettre la police en raleway light 300 */

.info {
    display: flex;
}

.info p {
    line-height: 5px;
}
 
.info span {
    border-radius: 50%;
    border: #F2F2F2 solid 2px;
    padding: 10px;
    color: #0065FC;
    line-height: 5px;
}

/* Section Hébergements à Marseille + Les plus populaires */

.part_1 {
    display: flex;
}

/* Article */

/* format de l'article */

article {
    width: 1250px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

/* H1 et h4 hébergements à Marseille */

.container_heb h1 {
    width: 1200px;
    margin: 30px 0px 0px 30px;
}

.container_heb h4 {
    width: 1200px;
    margin: 30px 0px 30px 30px;
    font-size: 20px;
    font-weight: bold;
}

/* carte hotel */

.container_heb {
    display: flex;
    flex-wrap: wrap;
}
.container_card_heb {
    height: 250px ;
    width: 350px;
    background-color: white;
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin: 30px;
}

.card_heb {
    height: 240px;
    margin: 8px;  
}

/* Img carte heb */

.img_hebergements {
    height: 140px;
    width: 334px;
    display: block;
}

.img_hebergements img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

/* txt carte heb */

.txt_hebergements {
    height: 75px;
    width: 315px;
    margin: 5px;
}

.txt_hebergements h3 {
    line-height: 0px;
    margin-left: 10px;
}

.txt_hebergements p {
    line-height: 15px;
    margin-left: 10px;
}

.txt_hebergements i {
    margin: -2px;
}

.txt_hebergements .fas {
    color: #0065FC;
}

.txt_hebergements .far {
    color: lightgray;
    font-weight: bold;
}

.star_heb {
    margin-left: 12px;
}

.container_card_heb a {
    text-decoration: none;
    color: black;
}


/* Aside */

aside {
    width: 600px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
}


/* Titre aside */

.aside_title {
    width: 600px;
    display: inline-flex;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
}

.aside_title i {
    font-size: 30px;
    line-height: 85px;
}

/* footer */

footer {
    display: flex;
    background-color: #F2F2F2;
}

.footer {
    display: table-column;
    width: 500px;
    margin: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left:0px;

}

li {
    margin-top: 10px;
}

ul a {
    text-decoration: none;
    color: black;
}





