/* Définition de la police */

@font-face {
    font-family: 'ralewaythin_italic';
    src: url('raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
@font-face {
    font-family: "Raleway";
    src: url('./Raleway-VariableFont_wght.ttf');
}
*/
body {
    font-family:'Raleway', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Raleway-Black', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 27.5px;
}

h3 {
    font-size: 21px;
    font-weight: bold;
}

p {
    font-size: 20px;
}

/* Marge header, sections hébergements et activites */

header, section {
    margin: 0px 30px 0px 30px
}

/* header */

header {
    display: flex;
    justify-content: space-between;
}

/* logo */

.logo_container {
height: 66px;
}

#logo {
    width: 110px;
    margin-top: 45px;
}

/* Menu navigation */

.menu {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.menu div {
    height: 100px;
    width: 200px;
    
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #0065FC;
    ;
}

.hebergements {
    border-top: #0065FC solid 2px;
    margin-top: -7px;
    text-align: center;
    line-height: 149px;
}

.activites {
    text-align: center;
    line-height: 140px;
}

.activites a {
    color:black;
}

.inscription {
    text-align: center;
    font-weight: bold;
    line-height: 140px
}

/* texte section recherche logement */

#hebergements {
    margin-top: 50px;
    margin-block-end: 0px;
}

.part_1 p {
    margin-top: 5px;
}



/* Barre de recherche */

.elements_recherche {
    display: flex;
}

.localisation {
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px ;
    text-align: center;
    line-height: 50px;
}

/* Espace saisie texte recherche */

.recherche {
    height: 50px;
    width: 300px;
}

#site-search {
    height: 50px;
    width: 300px;
    border: #F2F2F2 solid;
    font-size: 20px;
}

input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding-left: 10px;
}

#site-search::placeholder {
    color: black;
    font-weight: bold;
}

/* Button */

input[type="button" i] {
    width: 160px;
    height: 50px;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 16px 16px 0px;
    font-size: 20px;
    font-weight: bold;
    color:#F2F2F2;
}

/* loupe version mobile/tablette à faire */
.loupe {
    visibility: hidden;
}

/* Filtres */

.container_filtres {
    display: flex;
    width: 1365px;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 30px 0px;
}

.title_filtres {
    width: 75px;
}

.filtres {
    height: 65px;
    vertical-align: middle;
    line-height: 55px;
    border-radius: 50px 50px 50px 50px;
    border: 3px #F2F2F2 solid; 
}

/* Icone et texte filtre */
.filtres i {
    background-color:  #DEEBFF;
    border-radius: 50%;
    border: none;
    color:#0065FC;
    padding: 20px;
    font-size: 30px;
    margin: -2.5px;
}

.filtres a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-left: 15px;
    font-size: 26.5px;
}

/* Partie info, mettre la police en raleway light 300 */

.info {
    display: flex;
    margin-bottom: 30px;
}

.info p {
    line-height: 5px;
}
 
.info span {
    border-radius: 50%;
    border: #F2F2F2 solid 3px;
    margin-right: 10px;
    padding: 10px;
    color: #0065FC;
    line-height: 5px;
    font-size: 14px;
}

/* Section Hébergements à Marseille + Les plus populaires */

.part_2 {
    display: flex;
}

/* Article */

/* Format de l'article */

article {
    width: 1250px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

/* H1 et h4 Heb à Marseille */

.container_heb h1 {
    height: 25px;
    width: 1200px;
    margin: 45px 0px -10px 50px;
}

.container_heb h4 {
    width: 1200px;
    margin: 40px 0px 30px 50px;
    font-size: 21px;
    font-weight: bold;
}

/* card Heb */

.container_heb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container_card_heb {
    height: 270px ;
    width: 350px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-top: 45px;
}

.card_heb {
    height: 240px;
    margin: 7px;  
}

/* Img card Heb */

.img_hebergements {
    height: 155px;
    width: 336px;
    display: block;
}

.img_hebergements img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* txt card Heb */

.txt_hebergements {
    height: 75px;
    width: 315px;
    margin: 20px;
}

.txt_hebergements h3 {
    line-height: 0px;
    font-size: 21px;
}

.txt_hebergements p {
    line-height: 15px;
}

.txt_hebergements i {
    margin: -2px;
}

.txt_hebergements .fas {
    color: #0065FC;
}

.txt_hebergements .far {
    color: lightgray;
    font-weight: bold;
}

.container_card_heb a {
    text-decoration: none;
    color: black;
}


/* Aside */

.part_3 {
    height: 800px;
    width: 615px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
}

.container_pop {
    height: 800px;
}

/* Titre Aside */

.aside_title {
    height: 65px;
    width: 515px;
    display: inline-flex; 
    justify-content: space-between;
    margin: 20px 50px 0px 50px;
}

.aside_title i {
    font-size: 30px;
    line-height: 85px;
}

/* Card Pop */

.container_card_pop {
    height: 170px ;
    width: 510px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin: 45px 50px 0px 50px;
}

.card_pop {
    display: inline-flex;
    height: 155px;
    margin: 7px;   
}

/* img card Pop */

.img_pop {
    height: 157px;
    width: 150px;
    display: block;
}

.img_pop img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

/* txt card Pop */

.txt_pop {
    height: 75px;
    width: 335px;
    margin-left: 20px;
}

.txt_pop h3 {
    height: 35px;
    width: 185px;
    line-height: 20px;
    font-size: 21px;
}

.txt_pop p {
    height: 30px;
    line-height: 0px;
}

.txt_pop i {
    margin: -2px;
}

.txt_pop .fas {
    color: #0065FC;
}

.txt_pop .far {
    color: lightgray;
    font-weight: bold;
}

.container_card_pop a {
    text-decoration: none;
    color: black;
}

/* Activites */

.part_4 {
    width: 1904px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.part_4 h1 {
    width: 1900px;
    margin-bottom: 0;
}
/* Card Activites */

/* Large container */

.large_container {
    height: 660px;
    width: 440px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-top: 20px;
}

.large_card {
    height: 660px;
    width: 440px;
}

/* Large img */

.large_img {
    height: 600px;
    width: 440px;
    display: block;
}

.large_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* large txt */

.large_container a, .fp_container a, .if_container a, .ndg_container a, .pc_container a {
    text-decoration: none;
    color: black;
}

/* 2_card_container */

.double_card_container {
    height: 660px;
    width: 440px;
}

/* Fp Card */

.fp_container {
    height: 360px;
    width: 440px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-top: 20px;
}
.fp_card {
    height: 360px;
    width: 440px;
}

/* Fp img */

.fp_img {
    height: 300px;
    width: 440px;
    display: block;
}

.fp_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* if card */

.if_container {
    height: 250px;
    width: 440px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-top: 50px;
}

.if_card {
    height: 250px;
    width: 440px;
}

/* if img */

.if_img {
    height: 190px;
    width: 440px;
    display: block;
}

.if_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* Ndg card */

.ndg_container {
    height: 260px;
    width: 440px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-top: 20px;
}

.ndg_card {
    height: 260px;
    width: 440px;
}

/* Ndg img */

.ndg_img {
    height: 200px;
    width: 440px;
    display: block;
}

.ndg_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* Pc card */

.pc_container {
    height: 350px;
    width: 440px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-top: 50px;
}

.pc_card {
    height: 350px;
    width: 440px;
}

/* Ndg img */

.pc_img {
    height: 290px;
    width: 440px;
    display: block;
}

.pc_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* Texte Activites */

.txt_activites h3 {
    margin-left: 20px;
    line-height: 20px;}

/* footer */

footer {
    display: flex;
    background-color: #F2F2F2;
    margin-top: 70px;
}

.footer {
    display: table-column;
    width: 500px;
    margin: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left:0px;

}

li {
    margin-top: 10px;
}

ul a {
    text-decoration: none;
    color: black;
}





