/* Définition de la police */

@font-face {
    font-family: 'ralewaythin_italic';
    src: url('raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, a {
    font-family: 'raleway', sans-serif
}

h1 {
    font-size: 27.5px;
}

p {
    font-family: 'ralewaythin_italic';
}

/* Marge header, sections hébergements et activites */

header, section {
    margin: 0px 20px 0px 20px
}

/* header */

header {
    display: flex;
    justify-content: space-between;
}

/* logo */

.logo_container {
height: 66px;
}

#logo {
    width: 110px;
    margin-top: 45px;
}

/* Menu navigation */

.menu {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.menu div {
    height: 100px;
    width: 200px;
    
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #0065FC;
    ;
}

.hebergements {
    border-top: #0065FC solid 2px;
    margin-top: -7px;
    text-align: center;
    line-height: 149px;
}

.activites {
    text-align: center;
    line-height: 140px;
}

.activites a {
    color:black;
}

.inscription {
    text-align: center;
    font-weight: bold;
    line-height: 140px
}

/* texte section logement */

#hebergements {
    margin-top: 60px;
    margin-block-end: 0px;
}

/* Barre de recherche */

.elements_recherche {
    display: flex;
}

.localisation {
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px ;
    text-align: center;
    line-height: 50px;
}

/* Espace saisie texte recherche */

.recherche {
    height: 50px;
    width: 300px;
}

#site-search {
    height: 50px;
    width: 300px;
    border: #F2F2F2 solid;
    font-size: 20px;
}

input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding-left: 10px;
}

#site-search::placeholder {
    color: black;
    font-weight: bold;

}

/* Button */

input[type="button" i] {
    width: 160px;
    height: 50px;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 16px 16px 0px;
    font-size: 20px;
    font-weight: bold;
    color:#F2F2F2;
}

/* loupe version mobile/tablette à faire */
.loupe {
    visibility: hidden;
}

/* Filtres */

.container_filtres {
    display: flex;
    width: 1365px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.title_filtres {
    width: 75px;
}

.filtres {
    height: 65px;
    vertical-align: middle;
    line-height: 55px;
    border-radius: 50px 50px 50px 50px;
    border: 3px #F2F2F2 solid; 
}

/* Icone et texte filtre */
.filtres i {
    background-color:  #DEEBFF;
    border-radius: 50%;
    border: none;
    color:#0065FC;
    padding: 20px;
    font-size: 30px;
    margin: -2.5px;

}

.filtres a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-left: 15px;
    font-size: 26.5px;
}

/* Partie info, mettre la police en raleway light 300 */

.info {
    display: flex;
}

.info p {
    line-height: 5px;
}
 
.info span {
    border-radius: 50%;
    border: #F2F2F2 solid 2px;
    padding: 5px;
    color: #0065FC;
}

/* Hébergements à Marseille */

/* format de l'article */

/* carte hotel */


